{{define "guest"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Library</title>
    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <header class="block bg-blue-500 h-12 flex justify-between text-white px-16 py-2">
        <h1 class="text-xl inline-block">
            <a href="/">
                <strong>GO</strong> Library
            </a>
        </h1>
        <div class="flex items-center">
            {{if .Name}}
                <span class="font-semibold">Hello, {{.Name}}</span>
                <a class="ml-4 font-semibold" href="/logout">Logout</a>
            {{else}}
                <a class="font-semibold" href="/login">Login</a>
                <a class="ml-4 font-semibold" href="/register">Register</a>
            {{end}}
        </div>
    </header>
    <main class="mx-16 mt-6">
        {{template "content" .}}
    </main>
    <!-- Scripts -->
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</body>
</html>
{{end}}