{{define "guest"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Library</title>
    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <header class="block bg-blue-500 h-12 flex space-between text-white px-16 py-2">
        <h1 class="text-xl block">
            <a href="/">
                <strong>GO</strong> Library
            </a>
        </h1>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </header>
    <main class="mx-16 mt-6">
        {{template "content"}}
    </main>
    <!-- Scripts -->
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</body>
</html>
{{end}}